body{
    background-color: rgb(34, 34, 34);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 16, 16);
    width: 350px;
    height: 420px;
    padding: 35px;
    border-radius: 25px;
    border-style:solid;
    border-color: rgb(192, 77, 0);
}

form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

input{
    margin-top: 15px;
    padding-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(34, 34, 34);
    height: 46px;
    border-style:solid;
    border-radius: 20px;
    border-color: rgb(192, 77, 0);
}

img{
    width: 120px;
    height: auto;
}

::placeholder{
    color:rgb(168, 122, 91);
    font-size: 14px;
}

form [type="submit"]{
    font-weight: bold;
    border: 2px solid rgb(192, 77, 0);
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(34, 34, 34);
    color: rgb(168, 122, 91);
}

form [type="submit"]:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(192, 77, 0);
    transition: 1.8s all;
}

p{
    color:rgb(168, 122, 91);   
}


a{
    color:rgb(192, 77, 0);
    text-decoration: none;
}